certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
Django==3.2.15
django-environ==0.4.5
gunicorn==20.0.4
idna==2.10
jsonpath-ng==1.5.1
paho-mqtt==1.5.0
ply==3.11
preload==2.0
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.5
