{% extends 'base.html' %}
{% block title %}Shellies Overview{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

    {# Hero Section #}  

    {# Main Section #}

    <div class="container-fluid">

        <form action="." method="POST">
            {% csrf_token %}

            <div style="margin-bottom:20px;">
                <button type="submit" class="btn btn-primary">Update Devices</button>
                <button type="button" class="btn btn-secondary checkall">Check All</button>
                <button type="button" class="btn btn-secondary uncheckall">Uncheck All</button>
                <a href="{% url 'shellies' %}" class="btn btn-light" role="button">Refresh</a>
                <a href="{% url 'shellies' refresh='Y' %}" class="btn btn-light" role="button">Refresh with Update</a>
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    Fehler beim Aktualisieren der Shelly-Informationen (Announce failed)
                </div>

            {% endif %}

            <table
                    class="table table-striped"
                    data-remember-order="true"
                    data-search="true"
                    data-show-columns="true"
                    data-toggle="table"
                    data-show-multi-sort="true"
                    data-sort-priority='[{"sortName": "do_update","sortOrder":"desc"},{"sortName":"last_change","sortOrder":"desc"}]'
                    data-cookie="true"
                    data-cookie-id-table="shellyOverview"
                    id="table">
                <thead>
                    <tr>
                        <th data-field="do_update" data-sortable="false" class="text-center" scope="col">Update</th>
                        <th data-field="shelly_id" data-sortable="true" class="" scope="col">Shelly-ID</th>
                        <th data-field="shelly_type" data-sortable="true" class="" scope="col">Shelly Type</th>
                        <th data-field="shelly_online" data-sortable="true" class="" scope="col">Status</th>
                        <th data-field="shelly_settings" data-sortable="true" class="" scope="col" data-visible="false">Settings applied</th>
                        <th data-field="shelly_fw_version" data-sortable="true" class="" scope="col">Firmware</th>
                        <th data-field="last_change" data-sortable="true" class="" scope="col">Last MQTT Update</th>
                        <th data-field="last_status" data-sortable="true" class="" scope="col" data-visible="false">Last Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for shelly in shellies %}
                        <tr>
                            <td class="text-center" style="column-width:10px;">
                                {% if shelly.shelly_do_update %}
                                    <i class="fas fa-times"></i>
                                {% elif shelly.shelly_new_fw %}
                                    <label>
                                        <input type="checkbox" id="{{ shelly.shelly_id }}" name="{{ shelly.shelly_id }}" style="margin:0px;padding:0px;" />
                                    </label>
                                {% endif %}

                            </td>
                            <td class="">
                                <strong>{{ shelly.shelly_id }}</strong>&nbsp;&nbsp;
                                <a href="http://{{ shelly.shelly_ip }}" target="_blank">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>&nbsp;&nbsp;
                                <a href="{% url 'shellies/details' shelly_id=shelly.shelly_id %}#nav-home">
                                    {% if shelly.shelly2infos.shelly_settings_json %}
                                        <i class="fas fa-info-circle text-success"></i>
                                    {% else %}
                                        <i class="fas fa-info-circle"></i>
                                    {% endif %}
                                </a><br />
                                <ul class="list-unstyled">
                                {% for thing in shelly.shelly2thing.all %}
                                    <li>{{ thing.thing_label }}</li>
                                {% endfor%}
                                </ul>
                            </td>
                            <td class="">{{ shelly.shelly_type }}</td>
                            <td class="">
                                {% if shelly.shelly_online %}
                                    <i class="fas fa-power-off text-success"></i>
                                {% else %}
                                    <i class="fas fa-power-off text-danger"></i>
                                {% endif %}
                                    <span style="font-size:0.8em">
                                        ({{ shelly.shelly_last_online|date:'d.m.Y H:i' }})
                                    </span>
                                {% if shelly.shelly2infos.shelly_battery_percent %}
                                    <br /><i class="fas fa-battery-half"></i>
                                    <span style="font-size:0.8em">
                                        ({{ shelly.shelly2infos.shelly_battery_percent }}%,
                                        {{ shelly.shelly2infos.shelly_battery_voltage }}V)
                                    </span>
                                {% endif %}
                                {% if shelly.shelly2infos.shelly_wifi_ssid %}
                                    <br /><i class="fas fa-wifi"></i>
                                    <span style="font-size:0.8em">
                                        ({{ shelly.shelly2infos.shelly_wifi_ssid|truncatechars:20 }},
                                        {{ shelly.shelly2infos.shelly_wifi_strength }}dB)
                                    </span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {{ shelly.get_updates_applied.shelly_id__count }} /
                                {{ shelly.get_updates_all.shelly_id__count }}
                                <a href="{% url 'shellies/details' shelly_id=shelly.shelly_id %}#nav-updates">
                                    {% if shelly.get_updates_applied.shelly_id__count == shelly.get_updates_all.shelly_id__count %}
                                        <i class="fas fa-info-circle text-success"></i>
                                    {% else %}
                                        <i class="fas fa-info-circle text-warning"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <div data-toggle="tooltip" title="NEW FW: {{ shelly.shelly_fw_version_new }}">
                                {% if shelly.shelly_new_fw or shelly.shelly_do_update %}
                                    <i class="fas fa-times-circle text-danger"></i>
                                {% else %}
                                    <i class="fas fa-check text-success"></i>
                                {% endif %}
                                <span style="font-size:0.8em">
                                    ({{ shelly.get_fw_short }})
                                </span>
                                </div>
                            </td>
                            <td class="">{{ shelly.last_change_ts|date:'d.m.Y H:i' }}</td>
                            <td class="">{{ shelly.last_status }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </form>

    </div>

    <div class="container-fluid" style="margin-top:20px;">
    </div>

{% endblock content %}

{% block footer_javascript_page %}
    <script type="text/javascript">
    $(function() {
        $('#table').bootstrapTable()
    });

    $(document).ready(function() {
        // Check All
        $('.checkall').click(function() {
            $(":checkbox").attr("checked", true);
        });
        // Uncheck All
        $('.uncheckall').click(function() {
            $(":checkbox").attr("checked", false);
        });
    });
    </script>
{% endblock footer_javascript_page %}


