{% extends 'base.html' %}
{% block title %}Shellies Overview{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

    {# Hero Section #}  

    {# Main Section #}

    <div class="container-fluid">

        <form action="." method="POST">
            {% csrf_token %}

            <div style="margin-bottom:20px;">
                <button type="submit" class="btn btn-primary">Update Devices</button>
                <button type="button" class="btn btn-secondary checkall">Check All</button>
                <button type="button" class="btn btn-secondary uncheckall">Uncheck All</button>
                <a href="{% url 'home' %}" class="btn btn-light" role="button">Refresh</a>
                <a href="{% url 'home' refresh='Y' %}" class="btn btn-light" role="button">Refresh with Update</a>
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    Fehler beim Aktualisieren der Shelly-Informationen (Announce failed)
                </div>

            {% endif %}

            <table class="table table-striped" data-toggle="table" data-sort-name="shelly_new_fw" data-sort-order="desc" id="table">
                <thead>
                    <tr>
                        <th data-field="do_update" data-sortable="false" class="col-1 text-center" scope="col">Update</th>
                        <th data-field="shelly_id" data-sortable="true" class="col-2" scope="col">Shelly-ID</th>
                        <th data-field="shelly_type" data-sortable="true" class="col-1" scope="col">Shelly Type</th>
                        <th data-field="shelly_online" data-sortable="true" class="col-1" scope="col">Online</th>
                        <th data-field="shelly_last_online" data-sortable="true" class="col-1" scope="col">Last Online</th>
                        <th data-field="shelly_fw_version" data-sortable="true" class="col-2" scope="col">Akt. Firmware</th>
                        <th data-field="shelly_new_fw" data-sortable="true" class="col-1 text-center" scope="col">FW ok?</th>
                        <th data-field="last_change" data-sortable="true" class="col-1" scope="col">Last MQTT Update</th>
                        <th data-field="last_status" data-sortable="true" class="col-2" scope="col">Last Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for shelly in shellies %}

                        <tr>
                            <td class="col-1 text-center">
                                {% if shelly.shelly_new_fw %}
                                    <label>
                                        <input type="checkbox" id="{{ shelly.shelly_id }}" name="{{ shelly.shelly_id }}" />
                                    </label>
                                {% endif %}
                            </td>
                            <td class="col-2"><a href="http://{{ shelly.shelly_ip }}" target="_blank">
                                {{ shelly.shelly_id }}</a><br />
                                <ul>
                                {% for thing in shelly.shelly2thing.all %}
                                    <li>{{ thing.thing_label }}</li>
                                {% endfor%}
                                </ul>
                            </td>
                            <td class="col-1">{{ shelly.shelly_type }}</td>
                            <td class="col-1">{{ shelly.shelly_online }}</td>
                            <td class="col-1">{{ shelly.shelly_last_online|date:'d.m.Y H:i' }}</td>
                            <td class="col-2">{{ shelly.shelly_fw_version }}</td>
                            <td class="col-1 text-center">
                                {% if shelly.shelly_new_fw %}
                                    <i class="fas fa-times-circle"></i>
                                {% else %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                            </td>
                            <td class="col-1">{{ shelly.last_change_ts|date:'d.m.Y H:i' }}</td>
                            <td class="col-2">{{ shelly.last_status }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </form>

    </div>

    <div class="container-fluid" style="margin-top:20px;">
    </div>

{% endblock content %}

{% block footer_javascript_page %}
    <script type="text/javascript">
     $(document).ready(function() {
         // Check All
         $('.checkall').click(function() {
             $(":checkbox").attr("checked", true);
         });
         // Uncheck All
         $('.uncheckall').click(function() {
             $(":checkbox").attr("checked", false);
         });
     });
    </script>
{% endblock footer_javascript_page %}


