{% extends 'base.html' %}
{% block title %}Openhab Things Overview{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

    {# Hero Section #}  

    {# Main Section #}

    <div class="container-fluid">

        <form action="." method="POST">
            {% csrf_token %}

            <div style="margin-bottom:20px;">
                <a href="{% url 'things' %}" class="btn btn-light" role="button">Refresh</a>
                <a href="{% url 'things' refresh='Y' %}" class="btn btn-light" role="button">Refresh with Update</a>
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    Fehler beim Aktualisieren der Openhab Things Informationen
                </div>

            {% endif %}

            <table class="table table-striped" data-toggle="table" data-sort-name="thing_label" data-sort-order="asc" id="table">
                <thead>
                    <tr>
                        <th data-field="thing_uid" data-sortable="true" class="" scope="col">UID</th>
                        <th data-field="thing_label" data-sortable="true" class="" scope="col">Label</th>
                        <th data-field="thing_location" data-sortable="true" class="" scope="col">Location</th>
                        <th data-field="last_change" data-sortable="true" class="" scope="col">Last Update</th>
                    </tr>
                </thead>
                <tbody>

                    {% for thing in things %}

                        <tr>
                            <td class="">{{ thing.thing_uid }}</td>
                            <td class="">{{ thing.thing_label }}</td>
                            <td class="">{{ thing.thing_location }}</td>
                            <td class="">{{ thing.last_change_ts|date:'d.m.Y H:i' }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </form>

    </div>

    <div class="container-fluid" style="margin-top:20px;">
    </div>

{% endblock content %}

{% block footer_javascript_page %}
{% endblock footer_javascript_page %}


